@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* display: grid;
    grid-template-columns: 150px 1fr; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    z-index: 999;
}
h3 {
    margin-left: 500px;
}

/* CSS Thông Báo */
.thongbao{
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    background: #222831;
}
/* CSS Menu + Logo */
header .menu-logo .btn-toggle-menu {
    cursor: pointer;
    display: none;
}

header #toggle-menu {
    display: none;
}

header .menu-logo {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

header .menu-logo nav {
    background-color: snow;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

header .menu-logo .menu {
    list-style-type: none;
    display: flex;
}

header .menu-logo .menu li {
    margin-left: 10px;
}

header .menu-logo .menu li a {
    text-decoration: none;
    display: block;
    padding: 8px 60px;
    font-weight: bold;
    border-radius: 15px;
    transition: 0.4s;
}

header .menu-logo .menu li.active a {
    color: #fff;
    background-color: black;
}

header .menu-logo .menu li a:hover {
    color: #fff;
    background-color: black;
}

header .menu-logo .login i{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 70px;
}

/* reponsive Menu */
@media screen and (max-width: 768px) {
    header nav {
        flex-wrap: wrap;
    }

    header .menu-logo .menu {
        display: none;
    }

    header .menu-logo .btn-toggle-menu {
        display: unset;
    }

    #toggle-menu:checked + .menu {
        display: block;
        width: 100%;
    }
}
/* CSS Footer */
footer{
    width: 100%;
    background-color: #00ADB5;
    color: white;
    text-align: center;
}
footer .footer-item{
    width: 30%;
    display: inline-block;
}

footer .footer-item h3{
    margin: 30px 0;
}

footer .link a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 3px 0;
}

.tacgia{
    padding-top: 10px;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

/* CSS Main */
.main{
    margin-top: 150px;
}

.menu-logo .login i{
    font-size: 16px;
    border: 1px solid black;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 20px;
}

#wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.headline {
    text-align: center;
    margin: 40px 0px;
    margin-right: 400px;
}
h3 {
    font-size: 18px;
    color: #111;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid;
    display: inline-block;
    color:#555;
    font-weight: 600;
}
ul.products {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul.products li {
    margin-bottom: 30px;
    flex-basis: 25%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
ul.products li img {
    max-width: 100%;
    height: auto;
}

ul.products li .product-info {
    padding: 10px 0px;
}

ul.products li .product-info a{
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-name{
    color:#334862;
    margin: 0px 35px;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: #111;
    padding: 2px 0px;
    margin: 0px 35px;
    font-weight: 600;
}

ul.products li .product-top {
    position: relative;
    overflow: hidden;
}


ul.products li .product-item .product-top a.buy-now {
    margin-left: 35px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: #fff;
    padding: 10px 0px;
    position: absolute;
    width: 50%;
    transition: 1s;
    opacity: 0.85;
}

ul.products li:hover a.buy-now{
    bottom: 0px;
}

ul.products li .product-item .product-top .product-thump {
    display: block;
}

ul.products li .product-item .product-top .product-thump img {
    display: block;
}

ul.products li:hover .product-top .product-thump img{
    filter: opacity(80%);
}


/* @media screen and (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    header {
        grid-template-columns: 150px 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
} */



